root = true

#############################
#   CONFIGURAÇÃO GLOBAL     #
#############################

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

#############################
#        C# (.cs)           #
#############################

[*.cs]
# identação
indent_style = space
indent_size = 4

# organização
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

# estilo de código
csharp_new_line_before_members = true
csharp_indent_switch_labels = true
csharp_prefer_braces = when_multiline:suggestion

# usar var ou tipo explícito
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_elsewhere = false:suggestion

#############################
#        RAZOR (.cshtml)    #
#############################

[*.cshtml]
indent_style = space
indent_size = 4

# melhora formatação de HTML + C#
tab_width = 4
max_line_length = off

#############################
#        HTML               #
#############################

[*.html]
indent_style = space
indent_size = 4
insert_final_newline = true
max_line_length = off

#############################
#        CSS                #
#############################

[*.css]
indent_style = space
indent_size = 4
insert_final_newline = true

#############################
#  JavaScript / TypeScript  #
#############################

[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 4
quote_type = double
max_line_length = off
insert_final_newline = true

#############################
#       JSON / XML          #
#############################

[*.json]
indent_style = space
indent_size = 4

[*.xml]
indent_style = space
indent_size = 4

#############################
#        Markdown           #
#############################

[*.md]
trim_trailing_whitespace = false
